<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="scara_urdf">
  <link
    name="Alvin">
    <inertial>
      <origin
        xyz="-0.14505 -0.77092 1.3844"
        rpy="0 0 0" />
      <mass
        value="2.3562" />
      <inertia
        ixx="0.019144"
        ixy="2.1505E-51"
        ixz="-3.415E-35"
        iyy="0.019144"
        iyz="-9.9186E-19"
        izz="0.0029452" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_urdf/meshes/Alvin.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_urdf/meshes/Alvin.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Simon">
    <inertial>
      <origin
        xyz="0.13444 0.025 -0.030876"
        rpy="0 0 0" />
      <mass
        value="1.9346" />
      <inertia
        ixx="0.004628"
        ixy="-3.8095E-19"
        ixz="0.0031704"
        iyy="0.021527"
        iyz="8.3923E-20"
        izz="0.017705" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_urdf/meshes/Simon.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_urdf/meshes/Simon.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="juntura1"
    type="continuous">
    <origin
      xyz="-0.14505 -0.77092 1.4844"
      rpy="1.5708 0 0.0011194" />
    <parent
      link="Alvin" />
    <child
      link="Simon" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="0"
      velocity="1.5" />
  </joint>
  <link
    name="Teodoro">
    <inertial>
      <origin
        xyz="0.122460155916732 0.0249999999999999 0.025070105960079"
        rpy="0 0 0" />
      <mass
        value="2.13484510006475" />
      <inertia
        ixx="0.004851589913966"
        ixy="7.31625421190779E-19"
        ixz="-0.00353401567033521"
        iyy="0.0253528113883727"
        iyz="1.03676786823507E-19"
        izz="0.0213907402661003" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_urdf/meshes/Teodoro.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_urdf/meshes/Teodoro.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="juntura2"
    type="continuous">
    <origin
      xyz="0.24366 0.05 -0.055959"
      rpy="0 -0.0020914 0" />
    <parent
      link="Simon" />
    <child
      link="Teodoro" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="0"
      velocity="1.5" />
  </joint>
  <link
    name="Dave">
    <inertial>
      <origin
        xyz="6.66133814775094E-16 -0.0648093500290701 3.33066907387547E-16"
        rpy="0 0 0" />
      <mass
        value="0.7696902001295" />
      <inertia
        ixx="0.00280135162422132"
        ixy="-6.62422220230561E-21"
        ixz="4.23516473627149E-21"
        iyy="0.000471435247579319"
        iyz="8.06157379776966E-20"
        izz="0.00280135162422132" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_urdf/meshes/Dave.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_urdf/meshes/Dave.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="vertiacal1"
    type="prismatic">
    <origin
      xyz="0.24492 0 0.05014"
      rpy="0 0.00097201 0" />
    <parent
      link="Teodoro" />
    <child
      link="Dave" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0.02"
      upper="0.17"
      effort="0"
      velocity="0.1" />
  </joint>
  <link
    name="Ian">
    <inertial>
      <origin
        xyz="0.0789110363719798 0 -0.00858948178085339"
        rpy="0 0 0" />
      <mass
        value="0.102" />
      <inertia
        ixx="6.43000000000001E-05"
        ixy="-3.10192729707385E-22"
        ixz="7.50824986030051E-21"
        iyy="5.18147058823528E-05"
        iyz="9.88205105130021E-22"
        izz="0.000100814705882353" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_urdf/meshes/Ian.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara_urdf/meshes/Ian.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="manita"
    type="continuous">
    <origin
      xyz="0 -0.11649 0"
      rpy="0 0 -1.5708" />
    <parent
      link="Dave" />
    <child
      link="Ian" />
    <axis
      xyz="1 0 0" />
    <limit
      effort="0"
      velocity="1.5" />
  </joint>
  <link name="world"/>
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="Alvin"/>
    <origin xyz="0.14505 0.77092 -1.2344" rpy="0 0 0"/>
  </joint>
</robot>